In [1]:
#import packages 
import numpy as np
import pandas as pd

#load data
df = pd.read_csv('medical_clean (1).csv',encoding='latin-1')

df

df.describe()

,Customer_id,Zip,Lat,Lng,Population,Children,Age,Income,VitD_levels,Doc_visits,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,50159.323900,38.751099,-91.243080,9965.253800,2.097200,53.511700,40490.495160,17.964262,5.012200,...,5312.172769,12934.528587,3.518800,3.506700,3.511100,3.515100,3.496900,3.522500,3.494000,3.509700
std,2886.89568,27469.588208,5.403085,15.205998,14824.758614,2.163659,20.638538,28521.153293,2.017231,1.045734,...,2180.393838,6542.601544,1.031966,1.034825,1.032755,1.036282,1.030192,1.032376,1.021405,1.042312
min,1.00000,610.000000,17.967190,-174.209700,0.000000,0.000000,18.000000,154.080000,9.806483,1.000000,...,1938.312067,3125.703000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,27592.000000,35.255120,-97.352982,694.750000,0.000000,36.000000,19598.775000,16.626439,4.000000,...,3179.374015,7986.487755,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,50207.000000,39.419355,-88.397230,2769.000000,1.000000,53.000000,33768.420000,17.951122,5.000000,...,5213.952000,11573.977735,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000
75%,7500.25000,72411.750000,42.044175,-80.438050,13945.000000,3.000000,71.000000,54296.402500,19.347963,6.000000,...,7459.699750,15626.490000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.560990,-65.290170,122814.000000,10.000000,89.000000,207249.100000,26.394449,9.000000,...,9180.728000,30566.070000,8.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [2]:
#drop complicating variables
df = df.drop(['City'], axis=1)
df = df.drop(['State'], axis=1)
df = df.drop(['County'], axis=1)
df = df.drop(['TimeZone'], axis=1)
df = df.drop(['Job'], axis=1)
df = df.drop(['Lng'], axis=1)
df = df.drop(['Lat'], axis=1)
df = df.drop(['Zip'], axis=1)
df = df.drop(['Soft_drink'], axis=1)


df = df.drop(['Area'], axis=1)
df = df.drop(['Marital'], axis=1)
df = df.drop(['Gender'], axis=1)
df = df.drop(['Initial_admin'], axis=1)
df = df.drop(['Services'], axis=1)
df = df.drop(['ReAdmis'], axis=1)

df = df.drop(['Item1'], axis=1)
df = df.drop(['Item2'], axis=1)
df = df.drop(['Item3'], axis=1)
df = df.drop(['Item4'], axis=1)
df = df.drop(['Item5'], axis=1)
df = df.drop(['Item6'], axis=1)
df = df.drop(['Item7'], axis=1)
df = df.drop(['Item8'], axis=1)


df = df.drop(['Income'], axis=1)
df = df.drop(['VitD_levels'], axis=1)
df = df.drop(['Doc_visits'], axis=1)
df = df.drop(['Full_meals_eaten'], axis=1)
df = df.drop(['vitD_supp'], axis=1)
df = df.drop(['Children'], axis=1)
df = df.drop(['Population'], axis=1)
df = df.drop(['Age'], axis=1)
df = df.drop(['Complication_risk'], axis=1)
df = df.drop(['Additional_charges'], axis=1)
df = df.drop(['Initial_days'], axis=1)
df = df.drop(['TotalCharge'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_id         10000 non-null  int64
 1   HighBlood           10000 non-null  object
 2   Stroke              10000 non-null  object
 3   Overweight          10000 non-null  object
 4   Arthritis           10000 non-null  object
 5   Diabetes            10000 non-null  object
 6   Hyperlipidemia      10000 non-null  object
 7   BackPain            10000 non-null  object
 8   Anxiety             10000 non-null  object
 9   Allergic_rhinitis   10000 non-null  object
 10  Reflux_esophagitis  10000 non-null  object
 11  Asthma              10000 non-null  object
dtypes: int64(1), object(11)
memory usage: 937.6+ KB

In [3]:
#transform boolean data 
Booleate = pd.get_dummies(df[['Arthritis', 'Diabetes', 'Hyperlipidemia', 'BackPain', 'Reflux_esophagitis', 'Asthma', 'HighBlood', 'Overweight','Stroke','Anxiety', 'Allergic_rhinitis']])

df = pd.concat((df,Booleate), axis=1)

df= df.drop(['Arthritis'], axis=1)
df= df.drop(['Diabetes'], axis=1)
df= df.drop(['Hyperlipidemia'], axis=1)
df = df.drop(['BackPain'], axis=1)
df = df.drop(['Reflux_esophagitis'], axis=1)
df = df.drop(['Asthma'], axis=1)
df = df.drop(['HighBlood'], axis=1)
df = df.drop(['Overweight'], axis=1)
df = df.drop(['Stroke'], axis=1)
df = df.drop(['Anxiety'], axis=1)
df = df.drop(['Allergic_rhinitis'], axis=1)
df = df.drop(['Arthritis_No'], axis=1)
df = df.drop(['Diabetes_No'], axis=1)
df = df.drop(['Hyperlipidemia_No'], axis=1)
df = df.drop(['BackPain_No'], axis=1)
df = df.drop(['Reflux_esophagitis_No'], axis=1)
df = df.drop(['Asthma_No'], axis=1)
df = df.drop(['HighBlood_No'], axis=1)
df = df.drop(['Overweight_No'], axis=1)
df = df.drop(['Stroke_No'], axis=1)
df = df.drop(['Anxiety_No'], axis=1)
df = df.drop(['Allergic_rhinitis_No'], axis=1)

df = df.rename(columns={"Arthritis_Yes":"Arthritis"})
df = df.rename(columns={"Diabetes_Yes":"Diabetes"})
df = df.rename(columns={"Hyperlipidemia_Yes":"Hyperlipidemia"})
df = df.rename(columns={"BackPain_Yes":"BackPain"})
df = df.rename(columns={"Reflux_esophagitis_Yes":"Reflux_esophagitis"})
df = df.rename(columns={"Asthma_Yes":"Asthma"})
df = df.rename(columns={"Reflux_esophagitis_Yes":"Reflux_esophagitis"})
df = df.rename(columns={"Asthma_Yes":"Asthma"})
df = df.rename(columns={"HighBlood_Yes":"HighBlood"})
df = df.rename(columns={"Overweight_Yes":"Overweight"})
df = df.rename(columns={"Stroke_Yes":"Stroke"})
df = df.rename(columns={"Anxiety_Yes":"Anxiety"})
df = df.rename(columns={"Allergic_rhinitis_Yes":"Allergic_rhinitis"})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_id         10000 non-null  int64
 1   Arthritis           10000 non-null  uint8
 2   Diabetes            10000 non-null  uint8
 3   Hyperlipidemia      10000 non-null  uint8
 4   BackPain            10000 non-null  uint8
 5   Reflux_esophagitis  10000 non-null  uint8
 6   Asthma              10000 non-null  uint8
 7   HighBlood           10000 non-null  uint8
 8   Overweight          10000 non-null  uint8
 9   Stroke              10000 non-null  uint8
 10  Anxiety             10000 non-null  uint8
 11  Allergic_rhinitis   10000 non-null  uint8
dtypes: int64(1), uint8(11)
memory usage: 185.7 KB

In [4]:
#transform variable data types
df['HighBlood'] = df['HighBlood'].astype(int)
df['Stroke'] = df['Stroke'].astype(int)
df['Overweight'] = df['Overweight'].astype(int)
df['Arthritis'] = df['Arthritis'].astype(int)
df['Diabetes'] = df['Diabetes'].astype(int)
df['Hyperlipidemia'] = df['Hyperlipidemia'].astype(int)
df['BackPain'] = df['BackPain'].astype(int)
df['Anxiety'] = df['Anxiety'].astype(int)
df['Allergic_rhinitis'] = df['Allergic_rhinitis'].astype(int)
df['Reflux_esophagitis'] = df['Reflux_esophagitis'].astype(int)
df['Asthma'] = df['Asthma'].astype(int)
df['Stroke'] = df['Stroke'].astype(int)
df['Anxiety'] = df['Anxiety'].astype(int)
df['Allergic_rhinitis'] = df['Allergic_rhinitis'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_id         10000 non-null  int64
 1   Arthritis           10000 non-null  int64
 2   Diabetes            10000 non-null  int64
 3   Hyperlipidemia      10000 non-null  int64
 4   BackPain            10000 non-null  int64
 5   Reflux_esophagitis  10000 non-null  int64
 6   Asthma              10000 non-null  int64
 7   HighBlood           10000 non-null  int64
 8   Overweight          10000 non-null  int64
 9   Stroke              10000 non-null  int64
 10  Anxiety             10000 non-null  int64
 11  Allergic_rhinitis   10000 non-null  int64
dtypes: int64(12)
memory usage: 937.6 KB

In [5]:
# set the index
df = df.set_index('Customer_id')

In [7]:
#import packages 
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [8]:
# Defining the hot encoding function to make the data suitable  
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1

In [9]:

# Applying one hot encoding 
basket_encoded = df.applymap(hot_encode) 
basket_df = basket_encoded 

basket_df.head()

,Arthritis,Diabetes,Hyperlipidemia,BackPain,Reflux_esophagitis,Asthma,HighBlood,Overweight,Stroke,Anxiety,Allergic_rhinitis
Customer_id,,,,,,,,,,,
1,1,1,0,1,0,1,1,0,0,1,1
2,0,0,0,0,1,0,1,1,0,0,0
3,0,1,0,0,0,0,1,1,0,0,0
4,1,0,0,0,1,1,0,0,1,0,0
5,0,0,1,0,0,0,0,0,0,0,1

In [10]:
# Building the model 
frq_items = apriori(basket_df, min_support = 0.1, use_colnames = True) 
  
# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

print(rules.head())

                       antecedents   consequents  antecedent support  \
58           (BackPain, HighBlood)  (Overweight)              0.1690
52          (Arthritis, HighBlood)  (Overweight)              0.1479
71  (Allergic_rhinitis, HighBlood)  (Overweight)              0.1640
35                     (HighBlood)  (Overweight)              0.4090
31                        (Asthma)  (Overweight)              0.2893

    consequent support  support  confidence      lift  leverage  conviction
58              0.7094   0.1246    0.737278  1.039298  0.004711    1.106113
52              0.7094   0.1076    0.727519  1.025541  0.002680    1.066495
71              0.7094   0.1189    0.725000  1.021990  0.002558    1.056727
35              0.7094   0.2960    0.723716  1.020181  0.005855    1.051818
31              0.7094   0.2081    0.719323  1.013987  0.002871    1.035352

/Users/mdenna/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(